:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    border: 5px solid #6C63FF;
    margin-top: 80px;
}


h1 {
    color: var(--purple);
    letter-spacing: 5px;
}

h2 {
    color: var(--black);
    font-size: 4.3em;
    text-decoration: none;
    font-weight: lighter;
    
}

h3 {
    color: var(--purple);
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 5px;
}

p {
    color: var(--text-color);
}

.top-image{
    position: absolute;
    width: 1360px;
    height: 133px;
    left: 0px;
    top: 0px;
}

.rocket-image {
    position: absolute;
    width: 607px;
    height: 435px;
    left: 699px;
    top: 150px;
}

.countdown-area {
    display: flex;
    position: absolute;
    /* width: 494px; */
    height: 172px;
    left: 123px;
    top: 187px;
    flex-direction: column;
    align-items: center;
}

.timer-text-area {
    display: flex;
    flex-direction: row;
    padding-right: 5px;
}

.timer-text-area p {   
    padding: 15px 32px 0px 55px;
    font-size: 13px;
    font-weight: lighter;
}

.subscribe-area {
    position: absolute;
    width: 349px;
    height: 21px;
    left: 196px;
    top: 405px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

button {
    height: 46px;
    width: 160px;
    background-color: var(--purple);
    border-radius: 10px;
    color: aliceblue;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
}

.subscribe {
    position: absolute;
    left: 290px;
    top: 457px;
}

.modal div button {
    width: 260px;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 25%;
    height: 60%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    background: rgba(0,0,0,0.9);
    z-index: 2;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    border-radius: 10px;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

.form input{
    height: 55px;
    width: 260px;
    margin: 10px 0px 30px;
    padding: 0px 10px;
    border-radius: 10px;
    border: none;
}

.form input:focus {
    outline: none;
    border: 2px solid var(--purple);
}

/* .modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
} */

.fechar {
    position: relative;
    width: 22px;
    height: 25px;
    left: 140px;
    top: 7px;
    text-align: center;
    line-height: 22px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 22px;
    color: #8d0000;
}

a:link, a:active, a:visited{
    text-decoration: none;
}

.bottom-image {
    position: absolute;
    width: 1366px;
    height: 229px;
    left: 0px;
    bottom: 0px;
}
