:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    /* border: 5px solid #6C63FF; */
    margin-top: 60px;
    justify-content: center;
    flex-wrap: wrap;
}


h1 {
    color: var(--purple);
    letter-spacing: 5px;
}

h2 {
    color: var(--black);
    font-size: 4.3em;
    text-decoration: none;
    font-weight: lighter;
    
}

h3 {
    color: var(--purple);
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 5px;
}

p {
    color: var(--text-color);
}

.top-image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.rocket-image {
    display: flex;
    justify-content: center;
    width: 607px;
}

@media (max-width: 900px) {
    .rocket-image {
        display: none;
    }
  }

.countdown-area {
    display: flex;
    float: left;
    /* width: 494px; */
    flex-direction: column;
    align-items: center;
    /* padding-bottom: 100px; */
}

.timer-text-area {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    padding-right: 5px;
}

.timer-text-area p {   
    padding: 15px 32px 0px 55px;
    font-size: 13px;
    font-weight: lighter;
}

.subscribe-area {
    width: 349px;
    height: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

button {
    background-color: var(--purple);
    border-radius: 10px;
    color: aliceblue;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
}

.subscribe-button {
    height: 46px;
    width: 160px;
    margin-top: 31px;
    margin-bottom: 50px;
}

#modal div button {
    height: 46px;
    width: 260px;
}

#modal {
    display: flex;
    position: absolute;
    opacity: 0;
    flex-direction: column;
    justify-items: center;
    visibility: hidden;
    width: 350px;
    height: 450px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    background: rgba(0,0,0,0.9);
    z-index: 1;
    border-radius: 10px;
}

#modal.show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

.form input{
    height: 55px;
    width: 260px;
    margin: 10px 0px 30px;
    padding: 0px 10px;
    border-radius: 10px;
    border: none;
}

.form input:focus {
    outline: none;
    border: 2px solid var(--purple);
}

/* .modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
} */

.fechar {
    width: 22px;
    height: 25px;
    text-align: center;
    line-height: 22px;
    margin-left: 310px;
    margin-top: 15px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 22px;
    color: #8d0000;
    cursor: pointer;
}

a:link, a:active, a:visited{
    text-decoration: none;
}

.bottom-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
