:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    position: relative;
    width: 1366px;
    height: 771px;
}


.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}


h1 {
    color: var(--purple);
    letter-spacing: 5px;
}

h2 {
    color: var(--black);
    font-size: 4.3em;
    text-decoration: none;
    font-weight: lighter;
    
}

p {
    color: var(--text-color);
}

.top-image{
    position: absolute;
    width: 1366px;
    height: 133px;
    left: 0px;
    top: 0px;
}

.rocket-image {
    position: absolute;
    width: 607px;
    height: 435px;
    left: 699px;
    top: 150px;
}

.countdown-area {
    display: flex;
    position: absolute;
    /* width: 494px; */
    height: 172px;
    left: 123px;
    top: 187px;
    flex-direction: column;
    align-items: center;
}

.timer-text-area {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

.timer-text-area p {   
    padding: 15px 25px 0px 55px;
    font-size: 13px;
    font-weight: lighter;
}

.subscribe-area {
    position: absolute;
    width: 349px;
    height: 21px;
    left: 196px;
    top: 405px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

button {
    position: absolute;
    height: 46px;
    width: 160px;
    left: 290px;
    top: 457px;
    background-color: var(--purple);
    border-radius: 10px;
    color: aliceblue;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
}

.bottom-image {
    position: absolute;
    width: 1366px;
    height: 229px;
    left: 0px;
    bottom: 0;
}
